# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PBO2\tubes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
