.button {
    -fx-background-color:  linear-gradient(gray, cyan);
}

.button:hover {
    -fx-background-color: linear-gradient(gray, orange);
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.bodybg{
 -fx-background-image: url('gacha_bg.jpg');
 -fx-background-size: 100% 100%;
}